* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #0062ff;
    color: whitesmoke;
    border-bottom: #003d9e 15px solid;
}

.infs {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
}

header h1 {
    text-transform: uppercase;
}

header button{
    background-color: white;
    border-radius: 12px;
    color: #0062ff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

form {
    background-color: #b5b5b5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input, button {
    padding: 8px;
}

button {
    background-color: #009432;
    border: none;
    cursor: pointer;
    color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
}

#btn-cancel{
    background-color: red;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

ul li {
    max-width: 33%;
    list-style: none;
    position: relative;
    max-height: 400px;
    overflow-y: hidden;
}

ul li img {
    width: 100%;
}

figcaption {
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.444);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: all ease-in-out .3s;
}

figcaption a {
    color: white;
    text-decoration: none;
}

ul li:hover figcaption {
    opacity: 1;
}